$text-coor: #ec5b53;
$sajid-color: #002d5b;

.CaptionContainer {
	// display: flex;
	width: 100%;
	position: relative;

	.HeroCaptionbackground {
		width: 100%;
	}

	.Caption {
		position: absolute;
		top: 20%;
		left: 20%;

		.btnGroup {
			display: flex;
		}

		.btnGroupElement {
			margin-right: 10px;
		}

		.HeroCaption {
			display: block;
			width: 100%;
			text-align: left;

			.CaptionHeading {
				color: $text-coor ;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 300;
				font-family: 'Rubik', sans-serif;

			}

			.HeroHeading {
				color: $sajid-color ;
				font-size: 60px;
				text-transform: capitalize;
				font-weight: 500;
				margin-top: 30px;
				white-space: wrap;
				font-family: 'Rubik', sans-serif;
				max-width: 500px;
				position: relative;



			}

			.HeroHeading::after {
				content: '';
				position: absolute;
				height: 70px;
				width: 5px;
				background-color: $sajid-color;
				animation: blink 0.5s infinite ease;
			}

			.HeroDes {
				margin-top: 30px;
				max-width: 350px;
				font-size: 14px;
				font-weight: 100;
				text-transform: capitalize;
				text-align: justify;
				white-space: wrap;
				line-height: 30px;
			}
		}


	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}